modules = ["vue-node-20", "nodejs-20", "web", "nix", "python-3.11"]

run = "pip uninstall phi -y && pip install -q yfinance && pnpm run api"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pnpm run dev"]

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 3000
exposeLocalhost = true
